

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

  <title>Off Canvas Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  {% load static %}
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/offcanvas.css" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
  <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">carteblanche</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="https://github.com/neuman/carteblanche-django-starter">Github</a></li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar -->

  <div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

      <div class="col-xs-12 col-sm-9">
        <p class="pull-right visible-xs">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>
        <div class="jumbotron">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}
          <p>
            Conditions: {% for condition in  conditions %}<span class="badge">{{ condition }}</span>{% endfor %}
          </p>
          {{ object_instance }}
          <p>{{ noun }}</p>
          {% block showcase %}
            {% for noun in nouns %}
              <p>{{ noun }}</p>
            {% endfor %}
          <ul>
          {% for noun in object_list %}
              <li><a href="{{ noun.get_absolute_url }}">{{ noun }}</a></li>
          {% empty %}
          {% endfor %}
          </ul>
          {% endblock %}
        </div>
        <div class="row">

        </div><!--/row-->
      </div><!--/span-->

      <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        <div class="list-group">
          {% if available_verbs %}
          {% for verb in available_verbs %}
          {% if verb.visible %}
          <a class="list-group-item" href="{{ verb.url }}">{{ verb.display_name }}</a>
          {% endif %}
          {% endfor %}
          {% endif %}
        </div>
      </div><!--/span-->
    </div><!--/row-->

    <hr>

    <footer>
      <p>&copy; carteblanche is a <a href="http://www.theneuman.com">neuman</a> thing</p>
    </footer>

  </div><!--/.container-->



<!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
  <script src="offcanvas.js"></script>
<script type="text/javascript" charset="utf-8">
//<![CDATA[
jQuery(function() {
  jQuery('.list-group-item').each(function() {
    if (jQuery(this).attr('href')  ===  window.location.pathname) {
      jQuery(this).addClass('active');
    }
  });
});  
//]]>
</script>
</body>
</html>
